= form_for @quotation do |form|
  - if @quotation.errors.any?
    #error_explanation
      %h2
        = pluralize(@quotation.errors.count, "error")
        prohibited this quotation from being saved:
      %ul
        - @quotation.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :quote
    = form.text_field :quote, class: 'form-fontrol'
  .actions
    = form.submit 'Submit', class: 'btn btn-succes'
    = link_to 'Back', quotations_path, class: 'btn btn-secondary'
